---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  <div class="social-follow-buttons">
    <a href="https://twitter.com/madswscientist?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow @madswscientist</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <div class="fb-like" style="vertical-align: top" data-href="https://www.facebook.com/MadSoftwareScientist/" data-width="" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="false"></div>
  </div>

</article>